{{/*  init  */}}
{{- $scroll_to_top_js   := "" | resources.FromString "assets/js/blank.js" -}}
{{- $theme_toggle_js    := "" | resources.FromString "assets/js/blank.js" -}}


{{/*  main scripts  */}}
{{- $scroll_position_js := resources.Get "js/papermod/scroll_position.js" -}}

{{- if (not site.Params.disableScrollToTop) -}}
    {{- $scroll_to_top_js = resources.Get "js/papermod/scroll_to_top.js" -}}
{{- end }}

{{- if (not site.Params.disableThemeToggle) -}}
    {{- $theme_toggle_js = resources.Get "js/papermod/theme_toggle.js" -}}
{{- end }}


{{- $papermod_bundled := (
    slice
        $scroll_position_js
        $scroll_to_top_js
        $theme_toggle_js
    )
    | resources.Concat "assets/js/papermod_common.js"
-}}

{{- with $papermod_bundled | minify | fingerprint -}}
    <script
        defer
        crossorigin="anonymous"
        type="module"
        src="{{- .RelPermalink -}}"
        integrity="{{- .Data.Integrity -}}"
    ></script>
{{- end -}}
