
/* 記事とフッタの間に線を入れる */
.post-footer {
    border-top: 1px solid;
    border-image: linear-gradient(90deg, var(--code-bg), var(--primary), var(--code-bg)) 1;
}

/* 関連記事 親要素 */
.post-footer .related {
    margin: 0;
    padding: 0;
}

/* "関連記事" */
.post-footer h3 {
    margin: 1.5em 0 0.8em 0;
}

/* リスト 親要素 */
.post-footer .related ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* リスト アイテム */
.post-footer .related li {
    display: inline-block;
    margin-inline-end: 6px;
    margin-bottom: 6px;
}

/* リスト アイテム リンク */
.post-footer .related a {
    border-radius: var(--radius);
    background: var(--code-bg);
    border: 1px solid var(--border);
    display: block;
    padding: 8px 10px 8px 10px;
    color: var(--secondary);
    font-size: 15px;
    line-height: 34px;
    background: var(--code-bg);
}

/* リスト アイテム リンク ホバー */
.post-footer .related a:hover {
    background: var(--border);
}

/* 次/前のページとタグとの間をあける*/
.paginav {
    margin-top: 1.5em;
}

/* 文字の下にちょっと余白がほしい */
.paginav a {
    padding-bottom: 0.2em;
}

/* 目次を固定する */
.toc {
    position: sticky;
    top: 0.2rem;
    z-index: 100;
    user-select: none;
    padding: 0.15em;
}

/* ページネーションを書き換える PaperModのページネーションがベース */
/* ul */
.pagination-default {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* li */
.pagination-default > .page-item {
    display: inline-block;
    width: 100%;
    text-align: center;
}

/* テキスト */
.pagination-default > .page-item a {
    display: block;
    color: var(--theme);
    font-size: 16px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0; /* 0 15px 0 15px だったけどスマホじゃ改行されるから0にした */
    margin-left: 5%;
    width: 90%;
}

/* 現在のページ */
.pagination-default > .active > a{
    background: var(--secondary);
}

/* ホバー */
.pagination-default > li:not(.active) > a:hover {
    background: var(--content);
}
