/* 目次固定 CSS */

.toc {
    position: sticky;
    top: 0.2rem;
    z-index: 100;
    user-select: none;
    padding: 0.15em;
}

.toc .inner {
    max-height: calc(100vh - 2.8rem);
    overflow-y: scroll;
}
