{{/*  chroma css  */}}

{{- if .Page.Scratch.Get "hasCodeblock" -}}

    {{/*  bundle chroma css  */}}
    {{- $chroma_dark            := (resources.Get "css/chroma/chroma_dark.css") -}}
    {{- $chroma_light           := (resources.Get "css/chroma/chroma_light.css") -}}
    {{- $chroma_reset           := (resources.Get "css/chroma/chroma_reset.css") -}}
    {{- $chroma_tweak           := (resources.Get "css/chroma/chroma_tweak.css") -}}
    {{- $codeblock_file_name    := (resources.Get "css/chroma/codeblock_file_name.css") -}}

    {{- $chroma_css := (
        slice
            $chroma_dark
            $chroma_light
            $chroma_reset
            $chroma_tweak
            $codeblock_file_name
        )
        | resources.Concat "assets/css/chroma/chroma_all.css"
    -}}

    {{- with $chroma_css | toCSS | minify | fingerprint -}}
        <link
            crossorigin="anonymous"
            href="{{- .RelPermalink -}}"
            integrity="{{- .Data.Integrity -}}"
            rel="preload stylesheet"
            as="style">
    {{- end -}}

    {{/*  chroma css for noscript  */}}
    <noscript>
        {{- with slice (resources.Get "css/chroma/chroma_noscript.css") | resources.Concat "assets/css/chroma/chroma_noscript.css" | toCSS | minify | fingerprint -}}
            <link
                crossorigin="anonymous"
                href="{{- .RelPermalink -}}"
                integrity="{{- .Data.Integrity -}}"
                rel="preload stylesheet"
                as="style"
            >
        {{- end -}}
    </noscript>

{{- end -}}
