#contact_form textarea {
    font-size: 1.2rem;
    color: var(--content);
    width: 100%;
    height: 50vh;
    display: block;
    border: 2px solid var(--secondary);
    border-radius: var(--radius);
    background-color: var(--entry);
    resize: none;
    padding: 0.2rem;
    margin-bottom: 1.5rem;
}

#contact_form_agree {
    word-break: keep-all;
}

#contact_form_agree input {
    transform: scale(1.5);
    accent-color: var(--primary);
}

#contact_form_button {
    display: block;
    margin: 2.5rem auto;
    border: 1px solid var(--secondary);
    border-radius: var(--radius);
    text-decoration: none;
    padding-inline-start: 0.5em;
    padding-inline-end: 0.5em;
    color: var(--content);
    font-size: 1.4rem;
    background: var(--code-bg);
}

#hidden_iframe {
    display: none;
}
