{{/* misc */}}

{{- partial "head/seo.html" . -}}

{{- partialCached "head/pwa.html" . -}}

{{/* {{- partialCached "head/anti_adblock.html" . -}} */}}


{{/* css */}}

{{- partial "head/chroma_css.html" . -}}

{{- partial "head/css_loader.html" . -}}


{{/* papermod and libraries */}}

{{- partialCached "head/papermod_common.html" . -}}

{{- partial "head/papermod_copy_code.html" . -}}

{{- partial "head/katex.html" . -}}

{{- partial "head/mermaid.html" . -}}

{{- partialCached "head/instant_page.html" . -}}

{{- partialCached "head/goatcounter.html" . -}}
