{{- if .Params.cover.image -}}
<meta property="twitter:card" content="summary" />
{{- if (ne $.Params.cover.relative true) }}
<meta property="twitter:image" content="{{ .Params.cover.image | absURL }}" />
{{- else }}
<meta property="twitter:image" content="{{ (path.Join .RelPermalink .Params.cover.image ) | absURL }}" />
{{- end}}
{{- else }}
{{- with $.Params.images -}}
<meta property="twitter:card" content="summary"/>
<meta property="twitter:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
{{- $images := $.Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
{{- with $featured -}}
<meta property="twitter:card" content="summary"/>
<meta property="twitter:image" content="{{ $featured.Permalink }}"/>
{{- else -}}
{{- with site.Params.images -}}
<meta property="twitter:card" content="summary"/>
<meta property="twitter:image" content="{{ index . 0 | absURL }}"/>
{{ else -}}
<meta property="twitter:card" content="summary"/>
{{- end -}}
{{- end -}}
{{- end }}
{{- end }}
<meta property="twitter:title" content="{{ .Title }}"/>
<meta property="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ with site.Social.twitter -}}
<meta property="twitter:site" content="@{{ . }}"/>
{{ end -}}

{{/*  Added  */}}
<meta property="twitter:url" content="{{ if .Params.canonicalURL -}} {{ trim .Params.canonicalURL " " }} {{- else -}} {{ .Permalink }} {{- end }}">
