{{ .Inner }}

<div id="contact_form_wrapper">

    <form
        action="https://docs.google.com/forms/d/e/1FAIpQLSdEOUJVkxRzc-gZGuY_sQE5lnR1LvpG78_WRB2XINJczqbUqQ/formResponse"
        method="post"
        id="contact_form"
        target="hidden_iframe"
    >
        <textarea id="contact_form_textarea" name="entry.122642675" required placeholder="お問い合わせ内容"></textarea><br>
        <label for="contact_form_agree" id="contact_form_agree">
            <input type="checkbox" name="contact_form_agree" required>
            本サイトの
            <a href="/pages/terms/">利用規約</a>
            と
            <a href="/pages/privacy-policy/">プライバシーポリシー</a>
            に同意しました
        </label><br>
        <button type="submit" id="contact_form_button">送信</button>
    </form>

    <iframe id="hidden_iframe" name="hidden_iframe"></iframe>

    <script>
        var contact_form = document.getElementById("contact_form");
        contact_form.addEventListener("submit", function(e) {
            alert("送信しました！");
        })
    </script>

</div>
